header {

  display: none;

}

html,body{

  height: 100%;

}

nav{
  height:100%;
}

.nav {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;

  }

  li {

    border-style:solid;
    border-width: 1px;;
    list-style-type: none;
    width: 100%;
    text-align: center;

  }

  .content{
    display: none;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {

    .nav{
      flex-direction: row;
      justify-content: flex-end;
    }

    nav{
      height:auto;
    }

    li{
      width:auto;
      margin-left: 8px;
      width:17%;
    }

    .content{
      display: flex;
      width:100%;
    }

    .aside{
      border-style: solid;
      border-width: 1px;
      width: 20%;
    }

    .article {
      width:80%;
      border-style: solid;
      border-width: 1px;
    }

    .poem{
      border-style: solid;
      border-width: 1px;
    }

    .slidebox{
      border-style: solid;
      border-width: 1px;
      text-align: center;
      }

}

/*  Big devices    */
@media (min-width:991px) {

header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2{
  border-style: solid;
  border-width: 1px;
  width: 32.8%;
  text-align: center;
}

.nav{
  flex-direction: row;
  justify-content: flex-end;
}

nav{
  height:auto;
}

li{
  width:auto;
  margin-left: 8px;
  width:18%;
}

.content{
  display: flex;
  width:100%;
}

.aside{
  border-style: solid;
  border-width: 1px;
  width: 20%;
}

.article {
  display: flex;
  flex-direction: row;
  width:80%;
  border-style: solid;
  border-width: 1px;
}

.poem{
  border-style: solid;
  border-width: 1px;
}

.slidebox{
  border-style: solid;
  border-width: 1px;
  text-align: center;
  }


}


  
